   .fruits{
       border:2px solid blue;
       color:white
       background color:green;
       text align:center;
       padding-left:10px;
       padding-right10px;
       margin: auto;
       border- top -left-radius :50px
       border- top- right-radius:50px


   }
   #countries{
          background-color:blue
          border-top-left

   }